{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="shortcut icon" href="static/image/logo.png"/>
    <link rel="stylesheet" href= "{% static 'css/login.css' %}"/>
</head>
<body>
   <div class="form2">
    <h2>★맛 동 산★</h2>
    <div class="logo_box">
        
        <img src="{% static 'image/logo.png' %}" width="100" height="100"><br/><br/>

        <form action="{% url 'mainhome'%}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <br/>
            <div class="log">
                <input class="btn1" type="submit" value="로 그 인"><br/>
            </div>
            <a class="btn2" href="{% url 'signup' %}">회원가입</a>

            <!-- 돌아가기: 임시버튼 (나중에삭제) -->
            <br/><br/><br/><br/>
            <a href="{% url 'start' %}">돌아가기(나중에삭제)</a>
        </form>
    </div>
</div>
</body>
</html>