{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="shortcut icon" href="static/image/logo.png"/>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}"/>
</head>
<body>
    <h2>맛동산 탐험 시작!</h2>
    <img src="{% static 'image/logo.png' %}" width="100" height="100"><br/><br/>

    <form action="{% url 'mainhome'%}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <br/>
        <input class="btn1" type="submit" value="SIGN UP">

    </form>

    <br/><br/><a href="{% url 'start' %}">돌아가기(나중에삭제)</a>
</body>
</html>