body{
    background-color: rgb(247, 231, 207);
    text-decoration: none;
    text-align:center;
/* 아래는 정중앙 배치 속성값 */
    width:400px;
    height:300px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-200px;
}