body{
    background-color: rgb(247, 231, 207);
    text-decoration: none;
    text-align:center;
/* 아래는 정중앙 배치 속성값 */
    width:400px;
    height:300px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-200px;
}

.a{
    font-size:30pt;
    color: #FFFFFF;
    /* background: #333333; */
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
/* .a{
    font-size:30pt;
    color: #FFFFFF;
    /* background: #FFFFFF; */
    /* text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
} */ 
/* 회원가입css 필요없을듯? */
.btn1{
    width:60%;
  
    float: left;
    font-size:15pt;
    color: rgba(117, 74, 10, 0.747);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 20px; */
    /* background-color: rgb(236, 222, 252); */
    /* width: 140px;
    height: 45px; */
    font-weight: bold;
    text-decoration: none;
}
/* */

.btn2{
    width:15%;
    font-size:15pt;
    color: rgba(117, 74, 10, 0.747);
    /* border-radius: 20px; */
    /* background-color: rgb(236, 222, 252); */
    /* width: 140px;
    height: 45px; */
    font-weight: bold;
    text-decoration: none;
}
/* alert 버튼용 */
/* .btn3{
    background-color: rgb(248, 207, 94);
    width: 140px;
    height: 45px;
} */

.btn3{
    background-color: rgb(248, 207, 94);
    background-size: 200%;

    /* width: 200px;
    height: 100px; */
    text-decoration: none;
    font-size: 13;
    color: rgb(15, 14, 12);
}

.btn4{
    font-weight: bold;
    font-size: 20px;
    color: #005900;
    background: #FFFCA8;
    text-shadow: #FFFCA8 2px 2px 0px, #9C9C9C 4px 4px 0px;
    color: #005900;
    background: #FFFCA8;
    text-decoration: none;
}