{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="shortcut icon" href="static/image/logo.png/"/>
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
</head>
<body>
    <h2>맛동산 탐험 시작!</h2>
    <img src="{% static 'image/logo.png' %}" width="100" height="100"><br/><br/>
    
    
    {% if user.is_authenticated %}
    <a href="/accounts/logout">로그아웃</a>
    <br>
    {{user.username}} 님이 로그인 중입니다
    {% else %}
    <p class="text">sns 로그인</p>
 <!-- <button>구글/네이버/카카오</button> -->
    <input class="sns" type="image" src="{% static 'image/g_logo.jpg' %}"/>
    <input class="sns" type="image" src="{% static 'image/n_logo.png' %}"/>
    <a href="{% provider_login_url 'kakao' method='oauth2' %}"><input class="sns" type="image" src="{% static 'image/kakao_logo.png' %}"/></a>
    <br/><br/>
    ID ㅁㅁㅁㅁㅁㅁ<br/>
    PW ㅁㅁㅁㅁㅁㅁ<br/>
    <p>돌아가기/ 로그인</p>
    <a href="{% url 'start' %}">돌아가기</a>
    {% endif %}
    
   
    <!-- <form action="{% url 'mainhome'%}" method="POST">
        메인 홈 화면으로


    </form> -->

</body>
</html>