<!-- //임시 시작 대문 -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맛동산 start!</title>
    <link rel="shortcut icon" href="static/image/logo.png"/>
    <link rel="stylesheet" href= "{% static 'css/start000.css' %}">
</head>
<body>
    <div class="form2">
        <div class="logo_box">
        <img src="{% static 'image/logo.png' %}" width="140" height="140"><br/><br/>
            <div class="mar">
                HELLO 맛동산!
                <marquee style="text-align:center;" direction="up" scrollamount="5">맛동산 open 예정</marquee>
            </div>
            <br/><br/>
            <div class="btn-position">
                <a class="btn1" href="{% url 'login' %}">START!</a>
            </div>
            <br/><br/><br/><br/><br/>
        <a class="btn4" href="{% url 'developers' %}">&nbsp;DEVELOPERS&nbsp; </a>
            <!-- <button class="btn3" type="button" onclick="alert('쥬저리쥬저리 안내창')">Click Here!</button> -->
        </div>
        
    </div>
</body>
</html>